[submodule "games/Lunes_8"]
	path = games/Lunes_8
	url = https://github.com/orlxjr/cg.git
[submodule "games/Lunes_7"]
	path = games/Lunes_7
	url = https://github.com/Abelardodrika/juego_dardos.git
	branch = main
[submodule "games/Jueves_7"]
	path = games/Jueves_7
	url = https://github.com/mejiasgabriel3223-cloud/Running_Time.git
	branch = main
[submodule "games/Jueves_2"]
	path = games/Jueves_2
	url = https://github.com/Kurui02/Proyecto_MMA.git
	branch = master
[submodule "games/Lunes_1"]
	path = games/Lunes_1
	url = https://github.com/CesarMoya27/Swim-Rush.git
	branch = master
[submodule "games/Lunes_3"]
	path = games/Lunes_3
	url = https://github.com/Juan-Diego2020/Juego-de-Taller-de-Abstraccion-Lanzamiento-de-Jabalina.git
	branch = main
[submodule "games/Lunes_5"]
	path = games/Lunes_5
	url = https://github.com/isarocca/Cricket_Super_Stars.git
	branch = main
